<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Add Data Guru</title>

    <style>
        .tengah {
            padding: 35px 0 20px 0;
        }

        .kan {
            float: right;
        }
    </style>
</head>

<body>
    <div class="container text-center" style="margin: 0 auto; padding: 100px 0 100px 0;">
        <h1>Edit Data Guru</h1>
        <% if(errors.length > 0) { %>
            <ul>
               <% errors.forEach(error => { %>
                <li><%= error %></li>
                <% }); %>
            </ul>
            <% } %>
        <a href="/guru" class="btn btn-warning btn-sm kan">Kembali</a><br><br>
        <form action="/updateg/<%= gurus.id_guru %>" method="post">
            <input class="form-control" type="text" name="idGuru" value="<%= gurus.id_guru %>" placeholder="Masukkan Kode Guru"><br>
            <input class="form-control" type="text" name="namaGuru" value="<%= gurus.nama_guru %>" placeholder="Masukkan Nama Guru"><br>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</body>

</html>