<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Data Mata Pelajaran</title>

    <style>
        .btn {
            height: 100px;
            width: 170px;
            margin: 5px;
        }
        .tengah {
            padding: 35px 0 20px 0;
        }
    </style>
</head>

<body>
    <div class="container text-center" style="margin: 0 auto; padding: 150px 0 100px 0;">
        <h1 style="font-size: 80px;">TES MATA PELAJARAN</h1>
        <a href="/guru" class="btn btn-primary tengah">Data Guru</a>
        <a href="/mapel" class="btn btn-success tengah">Data Mata Pelajaran</a>
        <a href="/kelas" class="btn btn-warning tengah">Data Kelas</a>
        <a href="/wali" class="btn btn-danger tengah">Wali Kelas</a>
        <a href="/allmapel" class="btn btn-info tengah">All Mapel</a>
    </div>
</body>

</html>